<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cxf="http://camel.apache.org/schema/cxf"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://camel.apache.org/schema/cxf http://camel.apache.org/schema/cxf/camel-cxf.xsd
        http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/postgres"/>
        <property name="username" value="postgres"/>
        <property name="password" value="postgres"/>
    </bean>

    <bean id="sqlcomponent" class="org.apache.camel.component.sql.SqlComponent">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <camelContext useMDCLogging="true" xmlns="http://camel.apache.org/schema/spring">
        <dataFormats>
            <jaxb id="jaxb" contextPath="com.example.demo"/>
        </dataFormats>
        <route>
            <from uri="timer://dbQueryTimer?period=50s"/>
            <to uri="sqlcomponent:select * from test.customer?dataSource=#dataSource"/>
            <bean ref="sqlProcessor" method="process"/>
            <marshal>
                <custom ref="jaxb"/>
            </marshal>
            <bean ref="xmlProcessor" method="process"/>
            <setHeader name="Content-Type"><constant>application/text; charset=utf-8</constant></setHeader>
            <to uri="file:C:\Users\imishustina\IdeaProjects\Apache-Camel-WebSphere-MQ\src\main\resources?fileName=customer.xml"/>
        </route>
    </camelContext>

    <bean id="xmlProcessor" class="com.example.demo.XmlProcessor"/>
    <bean id="sqlProcessor" class="com.example.demo.SqlProcessor"/>
</beans>